<!DOCTYPE html>
<html layout:decorate="~{layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script th:src="@{/js/paging.js}"></script>
    <script>
        $(document).ready(function(){
            $('#movieScheduleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var screenCode = button.data('screen-code');
                var cinemaNo = button.data('cinema-no');
                var modal = $(this);
                modal.find('#screenCode').val(screenCode);
                modal.find('#cinemaNo').val(cinemaNo);
            });
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/container-box.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container-box text-center">
        <h1>관리자 페이지</h1>
    </div>

    <div class="container-box">
        <h2>상영관 관리</h2>

        <!--/* 상영관 목록 테이블 */-->
        <div id="d1">
            <table class="table table-hover table-bordered" w-80>
                <thead class="table-dark">
                <tr>
                    <th scope="col">상영관 명</th>
                    <th scope="col">사용가능 여부</th>
                    <th scope="col">총 좌석 수</th>
                    <th scope="col">상영 일정 관리</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${screens == null or #lists.isEmpty(screens)}">
                        <td colspan="5" class="text-center">조회 정보가 없습니다</td>
                    </tr>
                    <tr th:each="screen : ${screens}">
                        <th scope="row" th:text="${screen.screenName}"></th>
                        <td th:text="${screen.isAvail}"></a></td>
                        <td th:text="${screen.totalSeat}"></td>
                        <td><button data-bs-toggle="modal" data-bs-target="#movieScheduleModal" th:attr="data-cinema-no=${screen.cinemaNo}, data-screen-code=${screen.screenCode}" type="button" class="btn btn-primary">상영 일정 추가</button></td>
                        <td><a th:href="@{/admin/cinemamanage/screen/delete(code=${screen.cinemaNo})}"><button type="button" class="btn btn-primary">삭제</button></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <button data-bs-toggle="modal" data-bs-target="#screenModal" type="button" class="btn btn-outline-primary me-2">
                    상영관 등록
                </button>
            </div>
        </div>

        <!-- 상영일정 등록 모달 -->
        <div class="modal fade" id="movieScheduleModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="insertMovieSceduleModalLabel">상영일정 등록</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form th:action="@{/admin/cinemamanage/schedule/insert}" method="post">
                        <div class="modal-body">
                            <label class="mr-sm-2">영화 선택 :</label>
                            <select class="form-select" aria-label="Default select example" name="movieNo">
                                <tr th:each="movie : ${movies}">
                                    <option th:value="${movie.movieNo}" th:text="${movie.movieTitle}" selected></option>
                                </tr>
                            </select> <br>

                            <input type="hidden" id="cinemaNo" name="cinemaNo">
                            <input type="hidden" id="screenCode" name="screenCode">

                            <label class="mr-sm-2">상영 날짜 :</label>
                            <input type="date" class="form-control mb-2 mr-sm-2" name="date" required> <br>

                            <label class="mr-sm-2">휴게 시간 :</label>
                            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="00" pattern="^[0-5]\d$" title="00부터 59까지 입력 가능합니다." name="breaktime" required> <br>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 상영관 등록 모달 -->
        <div class="modal fade" id="screenModal" tabindex="-1" aria-labelledby="screenModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="insertScreenModalLabel">상영관 등록</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <form th:action="@{/admin/cinemamanage/screen/insert}" method="post">
                        <input type="hidden" id="cinemaNo2" name="cinemaNo">
                        <div class="modal-body">
                            <label class="mr-sm-2">상영관 선택 :</label>
                            <select class="form-select" aria-label="Default select example" name="screenCode">
                                <tr th:each="screen : ${screens}">
                                    <option th:value="${screen.screenCode}" th:text="${screen.screenName}" selected></option>
                                </tr>
                            </select> <br>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>