<!--<!DOCTYPE html>-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head th:fragment="menubar-head">
  <meta charset="UTF-8">
  <title>Insert title here</title>
</head>
<body th:fragment="menubar-body">

<script th:inline="javascript">
        /*<![CDATA[*/
        let msg = [[${msg}]];
        if (msg != null) {
            alert(msg);
            fetch('/clearMessage', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            });
        }
        /*]]>*/
</script>

<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img th:src="@{/img/common/logo.png}" width="40" height="32" alt="Logo"/>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a th:href="@{/home}" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a th:href="@{/reservation}" class="nav-link px-2">Reservation</a></li>
      <li><a th:href="@{/board}" class="nav-link px-2">board</a></li>
      <li><a th:href="@{/faq}" class="nav-link px-2">QnA</a></li>
      <li><a th:href="@{/about}" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <th:block sec:authorize="isAnonymous()">
        <button data-toggle="modal" data-target="#loginModal" type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" th:onclick="|location.href='@{/sign-up}'|" class="btn btn-primary">Sign-up</button>
      </th:block>

      <th:block sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">
        <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
          <button type="button" th:onclick="|location.href='@{/admin}'|" class="btn btn-outline-primary me-2">Admin</button>
        </th:block>
        <th:block sec:authorize="hasAuthority('ROLE_USER')">
          <button type="button" th:onclick="|location.href='@{/member/mypage}'|" class="btn btn-outline-primary me-2">MyPage</button>
        </th:block>
        <button type="button" th:onclick="|location.href='@{/logout}'|" class="btn btn-outline-primary me-2">Logout</button>
      </th:block>
    </div>
  </header>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <form th:action="@{/login}" method="post">
        <div class="modal-body">
          <label for="userId" class="mr-sm-2">ID :</label>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Enter ID" id="userId" name="username"> <br>
          <label for="userPwd" class="mr-sm-2">Password:</label>
          <input type="password" class="form-control mb-2 mr-sm-2" placeholder="Enter password" id="userPwd" name="password">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">로그인</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>