<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      >
<head>
    <title th:text="${title}">Insert title here</title>


    <style>
        .row {
			display : flex;
		}

        .divtable{
            width : 50%;
        }
        .row>form{
		    width : 50%;
		    display : flex;
		}

        .divimg{
            width : 50%;
        }
        .divform{
            width : 50%;
        }
        #image_container>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

</head>
<body>

<main layout:fragment="content">
    <div>
        <div class="row">
            <div class="divtable">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            상품번호
                        </th>
                        <th>
                            상품명
                        </th>
                        <th>
                            가격
                        </th>
                        <th>
                            선택
                        </th>
                    </tr>
                    </thead>
                    <tbody th:each="pro : ${productList}">
                    <td th:text="${pro.productNo}"></td>
                    <td th:text="${ pro.name }"></td>
                    <td th:text="${ pro.price }"></td>
                    <td><button th:onclick="productSelect([[${pro}]])">선택</button></td>
                    </tbody>
                </table>
            </div>
            <form id="form1" method="post" enctype="multipart/form-data" >
            <div class="divimg">
                <div id="image_container">
                    <!-- 이미지 들어가는곳 -->
                </div>
                <input type="file" id="inputFile" onchange="setThumbnail(event);" name="file">
            </div>
            <div class="divform">
                    <button type="button" id="btnreset">새로입력</button><br>

                    <label>상품 코드 : </label><input type="number" name="productNo" value="0" id="productNo" readonly><br>

                    <select name="categorycode" id="categorycode">
                        <!-- ajax로 조회 -->
                    </select><br><br>
                    <label>상품 이름 : </label><input type="text" name="name" id="name"><br>
                    <label>상품 상세 : </label><input type="test" name="content" id="content"><br>
                    <label>상품 가격 : </label><input type="number" name="price" id="price"><br>
                <button type="submit" formaction="insert">추가</button>
                <button type="submit" formaction="update">수정</button>
                <button type="submit" formaction="delete">삭제</button>

                <input type="hidden" value="" id = "productImg">
            </div>
            </form>
        </div>
    </div>
</main>

<footer>
    <!-- Footer content -->
</footer>



<script>
    $(function (){

        $.ajax({
            url:"/product/category",
            success: function (data){
                const $categorycode = $("#categorycode");

                for(let index in data){
                    $categorycode.append($("<option>").val(data[index].categorycode).text(data[index].categoryName))

                }
            },
            error: function (xhr){
                console.log(xhr);
            }
        })


        $('#btnreset').click(function() {
						$('#form1')[0].reset();
						$('#image_container').empty();
					});



    })

        //선택시 상품정보 표시
        function productSelect(product) {
            $('#productNo').val(product.productNo);
            $("#categorycode").val(product.categorycode).prop("selected", true);
            $('#name').val(product.name);
            $('#content').val(product.content);
            $('#price').val(product.price);
            $('#name').val(product.name);
            $('#productImg').val(product.productImg);
            $('#image_container').empty()
            $('#image_container').append(
                    '<img src="/img/uploadFiles/' + product.productImg + '">'
                );
        }


        //파일 선택시 표시
        function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function(event) {
            imgdiv = document.querySelector("div#image_container");

            imgdiv.replaceChildren();

            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            imgdiv.appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
      }
</script>
</body>
</html>