<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutAdmin}"
      >
<head>
    <!-- 부트스트랩 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/product.css}">
    <link rel="stylesheet" th:href="@{/css/adminsidebar.css}">
    <link rel="stylesheet" th:href="@{/css/container-box.css}">

    <title th:text="${title}">Insert title here</title>


    <style>
        .row {
			display : flex;
			width : 100%;
		}

        .divtable{
            width : 50%;
            height: 40%;
            overflow-y:scroll
        }
        .row>form{
		    width : 50%;
		    display : flex;
		}

        .divimg{
            width : 50%;
        }
        .divform{
            width : 50%;
        }
        #image_container>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

</head>
<body>

<main layout:fragment="content">
    <div class="container-box text-center">
        <h1>관리자 페이지</h1>
    </div>

    <div class="container-box">
        <h2>상품 관리</h2>

        <div class="divbtnwrap">
            <div class="divbtn" id="divbtn"></div>
            <input type="text" id="searchinput">
            <button id="searchbtn" onclick="search()">검색</button>
        </div>

        <div class="row">
            <div class="divtable">
                <table class="datatable-table">
                    <thead>
                    <tr>
                        <th>
                            상품번호
                        </th>
                        <th>
                            상품명
                        </th>
                        <th>
                            가격
                        </th>
                        <th>
                            선택
                        </th>
                    </tr>
                    </thead>
                    <tbody id="productTbody">
                        <tr th:each="pro : ${productList}">
                            <td th:text="${pro.productNo}"></td>
                            <td th:text="${ pro.name }"></td>
                            <td th:text="${ pro.price }"></td>
                            <td><button th:onclick="productSelect([[${pro}]])" class="btn btn-primary">선택</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form id="form1" method="post" enctype="multipart/form-data" >
            <div class="divimg">
                <div id="image_container">
                    <!-- 이미지 들어가는곳 -->
                </div>
                <input type="file" id="inputFile" onchange="setThumbnail(event);" name="file">
            </div>
            <div class="divform">
                    <button type="button" id="btnreset" class="btn btn-primary">새로입력</button><br>

                    <label>상품 코드 : </label><input type="number" class="datatable-input" name="productNo" value="0" id="productNo" readonly><br>

                    <select name="categorycode" id="categorycode" class="datatable-selector">
                        <!-- ajax로 조회 -->
                    </select><br><br>
                    <label>상품 이름 : </label><input type="text" class="datatable-input" name="name" id="name" required><br>
                    <label>상품 상세 : </label><input type="test" class="datatable-input" name="content" id="content" required><br>
                    <label>상품 가격 : </label><input type="number" class="datatable-input" name="price" id="price" required><br>
                <button type="submit" formaction="product/insert" class="btn btn-primary">추가</button>
                <button type="submit" formaction="product/update" class="btn btn-primary">수정</button>
                <button type="submit" formaction="product/delete" class="btn btn-primary">삭제</button>

                <input type="hidden" value="" id = "productImg" name="productImg">
            </div>
            </form>
        </div>
    </div>

    <script>
        $(function (){

            $.ajax({
                url:"/product/category",
                success: function (data){
                    const $categorycode = $("#categorycode");

                    for(let index in data){
                        $categorycode.append($("<option>").val(data[index].categorycode).text(data[index].categoryName))

                    }
                },
                error: function (xhr){
                    console.log(xhr);
                }
            })


            $('#btnreset').click(function() {
                            $('#form1')[0].reset();
                            $('#image_container').empty();
                        });


            $.ajax({
                url:"/product/category",
                success: function (data){
                    const $divbtn = $("#divbtn");

                    for(let index in data){
                        var code = data[index].categorycode;
                        $divbtn.append(
                            '<button onclick="findbycategory(' + code + ')" class="btn btn-primary">' + data[index].categoryName + '</button>'
                        );
                    }
                },
                error: function (xhr){
                    console.log(xhr);
                }
            })


        })

            //선택시 상품정보 표시
            function productSelect(product) {
                $('#productNo').val(product.productNo);
                $("#categorycode").val(product.categorycode).prop("selected", true);
                $('#name').val(product.name);
                $('#content').val(product.content);
                $('#price').val(product.price);
                $('#name').val(product.name);
                $('#productImg').val(product.productImg);
                $('#image_container').empty()
                $('#image_container').append(
                        '<img src="/img/uploadFiles/' + product.productImg + '">'
                    );
            }


            //파일 선택시 표시
            function setThumbnail(event) {
            var reader = new FileReader();

            reader.onload = function(event) {
                imgdiv = document.querySelector("div#image_container");

                imgdiv.replaceChildren();

                var img = document.createElement("img");
                img.setAttribute("src", event.target.result);
                imgdiv.appendChild(img);
            };

            reader.readAsDataURL(event.target.files[0]);
          }

        function findbycategory(category){
            $.ajax({
                url:"product/productbycategory",
                data: {category : category},
                success: function (productList){


                $('#productTbody').replaceWith(productList);
                console.log(productList);

                },
                error: function (xhr){
                    console.log(xhr);
                }
            })
        }

        function search(){
            var searchword = $('#searchinput').val();

            $.ajax({
                url:"product/productbysearch",
                data: {searchword : searchword},
                success: function (productList){


                $('#productTbody').replaceWith(productList);
                console.log(productList);

                },
                error: function (xhr){
                    console.log(xhr);
                }
            })
        }
    </script>
</main>

<footer>
    <!-- Footer content -->
</footer>

</body>
</html>