<table class="table table-hover table-bordered">
	<thead class="table-dark">
	<tr>
		<th scope="col">row_num</th>
		<th scope="col">MEMBER NO</th>
		<th scope="col">USERNAME</th>
		<th scope="col">CREATE_DATE</th>
		<th scope="col">ROLE</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="user : ${users}">
		<th scope="row" th:text="${user.rowNum}"></th>
		<td><a th:href="@{/admin/membermanage/find(no=${user.memberNo})}" th:text="${user.email}"></a></td>
		<td th:text="${user.userName}"></td>
		<td th:text="${user.createDate}"></td>
		<td th:each="role : ${user.roles}" th:text="${role.roleName}"></td>
	</tr>
	</tbody>
</table>