<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h2 class="text-center mb-4">회원 관리</h2>
			<hr color="grey">

				<div class="card" style="width: 18rem;">
					<img th:src="@{/img/member/{userImg}(userImg=${user.img})}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">회원 정보</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">회원 번호 : [[${ user.memberNo }]]</li>
						<li class="list-group-item">아이디 : [[${ user.email }]]</li>
						<li class="list-group-item">이름 : [[${ user.userName }]]</li>
						<li class="list-group-item">전화번호 : [[${ user.tel }]]</li>
						<li class="list-group-item">생성일자 : [[${ user.createDate }]]</li>
<!--						<li class="list-group-item">권한 : [[${ user.role }]]</li>-->
					</ul>
					<div class="card-body">
						<button data-toggle="modal" data-target="#roleModal" type="button" class="btn btn-outline-primary me-2">권한 수정</button>
						<a th:href="@{/admin/user/delete(no=${user.memberNo})}" class="card-link">회원 삭제</a>
					</div>
				</div>
			</div>

		<!-- 권한 수정 모달 -->
		<div class="modal fade" id="roleModal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title" id="roleModalLabel">권한 수정</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<form th:action="@{/admin/user/update}" method="post">
						<input type="hidden" name="memberNo" th:value="${user.memberNo}" />
						<div class="modal-body">
							<label class="mr-sm-2">Role:</label> <br>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="roleAdmin" name="role" value="ROLE_ADMIN">
								<label class="form-check-label" for="roleAdmin">ADMIN</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="roleUser" name="role" value="ROLE_USER">
								<label class="form-check-label" for="roleUser">USER</label>
							</div>
						</div>

						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">확인</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
