<!DOCTYPE html>
<html layout:decorate="~{layoutAdmin}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2 class="text-center mb-4">회원 관리</h2>
        <hr color="grey">

        <div class="card" style="width: 18rem;">
            <!--					<img th:src="@{/img/member/{userImg}(userImg=${user.img})}" class="card-img-top" alt="...">-->
            <div class="card-body">
                <h5 class="card-title">회원 정보</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">회원 번호 : [[${ user.memberNo }]]</li>
                <li class="list-group-item">이메일 : [[${ user.email }]]</li>
                <li class="list-group-item">닉네임 : [[${ user.userName }]]</li>
                <li class="list-group-item">포인트 : [[${ user.point }]]</li>
                <li class="list-group-item">전화번호 : [[${ user.tel }]]</li>
                <li class="list-group-item">주소 : [[${ user.address }]]</li>
                <li class="list-group-item">생성일자 : [[${ user.createDate }]]</li>
                <li class="list-group-item">
                    <div th:each="role : ${user.roles}">
                        <div th:if="${role.roleName == 'ROLE_USER'}">권한: 일반 회원</div>
                        <div th:if="${role.roleName == 'ROLE_STAFF'}">권한: 스태프</div>
                    </div>
                </li>
            </ul>
            <div class="card-body">

                <button data-bs-toggle="modal" data-bs-target="#updateModal" type="button" class="btn btn-outline-primary me-2">
                    회원 수정
                </button>

                <a th:href="@{/admin/membermanagement/find/delete(no=${user.memberNo})}" class="card-link">회원 삭제</a>
            </div>
        </div>
    </div>

<!-- 회원 수정 모달 -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="updateModalLabel">회원 수정</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/admin/membermanagement/find/update}" th:object="${user}" method="post">
                <div class="modal-body">
                    <input type="hidden" th:field="*{memberNo}">
                    <label class="mr-sm-2">Email :</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" th:field="*{email}"> <br>
                    <label class="mr-sm-2">NickName :</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" th:field="*{userName}"> <br>
                    <label class="mr-sm-2">tel :</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" th:field="*{tel}"> <br>
                    <label class="mr-sm-2">point:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" th:field="*{point}"> <br>

                    <label class="mr-sm-2">권한 :</label>
                    <div class="form-check">
                        <!--/* .?[]는 리스트 안 특정 조건 만족하는지 찾는 연산자  */-->
                        <input class="form-check-input" type="checkbox" id="roleCheckUser" name="roleList" value="ROLE_USER" th:checked="${user.roles.?[roleName == 'ROLE_USER'].size() > 0}">
                        <label class="form-check-label" for="roleCheckUser">
                            일반 회원
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="roleCheckStaff" name="roleList" value="ROLE_STAFF" th:checked="${user.roles.?[roleName == 'ROLE_STAFF'].size() > 0}">
                        <label class="form-check-label" for="roleCheckStaff">
                            스태프
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">정보 수정</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">취소</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
</body>
</html>
