<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.mini.admin.ticketing.model.mapper.TicketingMapper">

	<resultMap id="ticketingResultMap" type="ticketingDTO">
		<result property="rowNum" column="row_num"/>
		<result property="rsvNo" column="rsv_no"/>
		<result property="isPaid" column="rsv_is_paid"/>
		<result property="cinemaName" column="cinema_name"/>
		<result property="screenName" column="screen_name"/>
		<result property="email" column="email"/>
		<result property="movieTitle" column="movie_title"/>
		<result property="seatName" column="seat_name"/>
		<result property="price" column="rsv_movie_price"/>
		<result property="createDate" column="create_date"/>
	</resultMap>

	<select id="findTicketingAll" parameterType="map" resultMap="ticketingResultMap">
		SELECT
			  ROW_NUMBER() OVER (ORDER BY rsv_no DESC) AS row_num
			, vrd.rsv_no
			, vrd.rsv_is_paid
			, vrd.movie_title
			, vrd.rsv_movie_price
			, vrd.cinema_name
			, vrd.screen_name
			, seat_name
			, m.email
			, r.create_date
		FROM
			vw_res_data vrd
		JOIN
			mem_member m ON vrd.member_no = m.member_no
		JOIN
			mov_reservation r ON vrd.rsv_no = r.rsv_no
		WHERE
		<choose>
			<when test="type == 'email'">
				m.email LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<when test="type == 'title'">
				vrd.movie_title LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<when test="type == 'cinema'">
				vrd.cinema_name LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<when test="type == 'screen'">
				vrd.screen_name LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<otherwise>
				1 = 1
			</otherwise>
		</choose>
	</select>
</mapper>