<!DOCTYPE html>
<html layout:decorate="~{layoutAdmin}">
<head>
        <title>Movie Regulate Page</title>
</head>
<body>
<div layout:fragment="content">


        <div class="top">

                <div class="content" id="enrolled-Movie-List">

                        <h1>영화 리스트</h1>




                </div>

        </div>

        <div class="bottom">

                <div class="content" id="add-Movie">

                        <h1>영화 추가</h1>




                </div>

                <div class="content" id="summary">

                        <h1>통계 및 요약</h1>




                </div>

        </div>







</div>
</body>
</html>