<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>글쓰기</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="mb-0">글쓰기</h2>
      </div>
      <div class="card-body">
        <form action="#" th:action="@{/community/insert}" th:object="${board}" id="form" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" th:field="*{content}" class="form-control" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="singleFile">이미지</label>
            <input type="file" name="singleFile" class="form-control">
          </div>
          <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" id="writer" name="writer" th:field="*{writer.userName}" th:value="${#authentication.principal.nickName}" class="form-control" required disabled>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">등록</button>
            <a href="#" th:href="@{/community/list}" class="btn btn-secondary">취소</a>                   </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#insertForm').on('submit', function() {-->
<!--            $('#writer').prop('disabled', false);-->
<!--        });-->
<!--    });-->
<!--</script>-->
</body>
</html>