<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mini.reply.model.mapper.ReplyMapper">

	<resultMap id="replyResultMap" type="replyDTO">
	    <id property="reply_no" column="REPLY_NO"/>
	    <result property="board_no" column="BOARD_NO"/>
		<result property="member_no" column="member_NO"/>
	    <result property="content" column="CONTENT"/>
	</resultMap>

	<insert id="create"
			parameterType="replyDTO"
			useGeneratedKeys="true" 
			keyProperty="reply_no">
		insert into REPLY (
		  BOARD_NO
		, MEMBER_NO
		, CONTENT
		) values (#{board_no},#{member_no},#{content})
	</insert>


	<select id="list" resultMap="replyResultMap" parameterType="int">
		SELECT * FROM REPLY
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<select id="selectReply" parameterType="_int" resultMap="replyResultMap">
		SELECT REPLY_NO, CONTENT
		FROM REPLY
		WHERE REPLY_NO=#{reply_no}
	</select>
	
	<update id="updateReply" parameterType="replyDTO">
		UPDATE REPLY
		SET CONTENT = #{ content }
		WHERE REPLY_NO=#{reply_no}
	</update>
	
	<delete id="deleteReply" parameterType="int"> <!-- 전달받은 파라미터 데이터 타입 지정 -->
		DELETE
		FROM REPLY
		WHERE REPLY_NO=#{reply_no}
	</delete>
	
</mapper>











