<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <title>고객센터</title>
    <script type="text/javascript" th:src="@{/js/customer.js}"></script>
    <link rel="stylesheet" th:href="@{/css/container-box.css}">
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="container-box">
            <h1 class="text-center my-4">고객센터</h1>

            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="noticeInfo-tab" data-bs-toggle="tab" data-bs-target="#noticeInfo" type="button" role="tab" aria-controls="noticeInfo" aria-selected="true">공지 사항</button>
                <button class="nav-link" id="questionInfo-tab" data-bs-toggle="tab" data-bs-target="#questionInfo" type="button" role="tab" aria-controls="questionInfo" aria-selected="false">1:1 문의</button>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="noticeInfo" role="tabpanel" aria-labelledby="noticeInfo-tab"></div>
                <div class="tab-pane fade" id="questionInfo" role="tabpanel" aria-labelledby="questionInfo-tab"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>