<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>

    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

    <script>
        // 정규식 변수
        let reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,15}$/

        $(document).ready(function() {

            $('#send-password').click(function(event){
                event.preventDefault();
                submit();
            });

            $('#password').on('blur', function() {
                let password = $(this).val();
                console.log(password);

                if (password.length == 0) {
                    $('#passwordError').hide();
                    return;
                }

                $.ajax({
                    url: '/isPassword',
                    type: 'POST',
                    data: { password: password },
                    success: function(response) {
                        if (response === true) {
                            $('#passwordError').hide();
                        } else if (response === false) {
                            $('#passwordError').show();
                        }
                        isPassword();
                    },
                    error: function() {
                        console.log('비밀번호 확인 실패');
                        isPassword();
                    }
                });
            });

            $('#password2').on('blur', function() {
                let password2 = $(this).val();
                console.log(password2);

                if (password2.length == 0) {
                    $('#passwordError').hide();
                    return;
                }
                
                if (!reg.test(password2)) {
                    $('#passwordError2').show();
                    isPassword();
                } else {
                    $('#passwordError2').hide();
                    isPassword();
                }

            });

            function isPassword() {
                $('#send-password').prop('disabled', $('#passwordError').is(':visible') || $('#passwordError2').is(':visible'));
            }

            function submit() {
                $.ajax({
                    url: '/changePassword',
                    type: 'POST',
                    data: { memberPassword: $('#password2').val() },
                    success: function(response) {
                        if (response === true) {
                            alert('비밀번호 변경 완료');
                            window.close();
                        } else if (response === false) {
                            alert('비밀번호 변경 실패');
                            window.close();
                        }
                    },
                    error: function() {
                        alert('비밀번호 변경 실패');
                    }
                });
            }
        });
    </script>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <h2 class="text-center">비밀번호 변경</h2>
    <form>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력해주세요" required>
            <div class="error-message" id="passwordError" style="color: red;">패스워드가 틀립니다.</div>

            <label for="password2" class="form-label">변경할 비밀번호</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="비밀번호를 입력해주세요" required>
            <div class="error-message" id="passwordError2" style="display: none; color: red;">비밀번호는 8-15자 사이여야 하며, 알파벳, 숫자, 특수문자를 포함해야 합니다.</div>
        </div>
        <button type="submit" id="send-password" class="btn btn-primary w-100">전송</button>
    </form>
</div>

</body>
</html>