<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.mini.payment.model.mapper.PaymentMapper">



    <!--com.multi.mini.payment.model.dto.VwGetResDataDTO 바라보는중-->
    <select id="vwResDataNo" parameterType="int" resultType="VwGetResDataDTO">

        SELECT * FROM vw_res_data WHERE RSV_NO = #{rsv_no};
    </select>



    <update id="updateReservationIsPaid" parameterType="int">
        UPDATE mov_reservation
        SET rsv_is_paid = 'Y'
        WHERE rsv_no = #{rsvNo}
    </update>

    
    <insert id="insertPayment" parameterType="paymentsDTO">
        INSERT INTO pay_payments (member_no, pay_method, ord_code, amount, discount, total_price) VALUES (#{memberNo}, #{payMethod}, #{ordCode}, #{amount}, #{discount}, #{totalPrice})
    </insert>

    <insert id="insertPaymentMovie" parameterType="payMovieDTO">
        INSERT INTO pay_movie_and_payments (pay_no, rsv_no, ticket_quantity, movie_title)
        VALUES (#{payNo}, #{payNo}, #{movieTitle}, #{ticketQuantity})
    </insert>

    <delete id="deletePaymentByReservation" parameterType="int">
        DELETE FROM mov_reservation
        WHERE rsv_no = #{rsvNo}
    </delete>



</mapper>