html, body {
    height: 100%;
    margin: 0;
}

        ul {
          list-style: none;
          padding-left:0px
        }

        #adminLogo {
            width: 80px;
            height: 80px;
        }

        .d-flex {
            display: flex;
        }
        .sidebar {
            width: 280px;
            box-sizing: border-box;
        }
        .sidebar a {
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            display: block;
        }
        .sidebar a:hover {
            background-color: #495057;
        }
        .sidebar .profile {
            padding: 15px;
            text-align: center;
        }
        .sidebar .profile img {
            border-radius: 50%;
            margin-bottom: 10px;
        }
        .sidebar .profile p {
            margin: 0;
            color: white;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
        }