.container-box {
            border: 1px solid #dee2e6;
            border-radius: 8px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .search-box {
            display: flex;
            align-items: center;
            padding: 10px;
            border-radius: 5px;
            background-color: #f8f9fa;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .search-box select {
            width: 150px;
        }
        .search-box input {
            border: none;
            outline: none;
            background-color: #e9ecef;
            padding: 10px;
            flex-grow: 1;
            margin-left: 10px;
        }
        .search-box button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            margin-left: 10px;
        }

        .search-box .form-select,
        .search-box .form-control,
        .search-box .btn {
            margin-right: 10px; /* 요소 간의 간격을 위해 여백 추가 */
        }

        .search-box .form-select {
            flex: 0 0 auto; /* select 요소의 크기를 고정 */
        }

        .search-box .form-control {
            flex: 1 1 auto; /* input 요소가 가로 공간을 최대한 차지하도록 */
        }

        .search-box .btn {
            flex: 0 0 auto; /* 버튼의 크기를 고정 */
        }