        .containerBox{
            display: flex;
            background-color: #feffdf;
            border: 1px solid black;
            margin: 2%;
            justify-content: space-between;
            width: 80%;

        }

        a:hover{
            background-color: #FFB6C1;

        }

        #content1{

            display: flex;
            flex-flow: column;
            background-color: #feffdf;
            border: 1px solid black;
            margin: 2%;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            height: 70%;
            padding:1%;

        }

        #seats{
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            background-color:  #defcf9;
            border: 1px solid black;
            margin: 5px;
            padding: 10px;

        }

        .seat{

           width: 40px;
           height: 40px;
           margin: 5px;
           border: 1px solid black;
           text-align: center;
           background-color: white;

        }

        .seat:hover, .reset:hover{

            background-color: #6482B9;
            color: white;

        }

        .unclickable{

            pointer-events: none;
            background-color: #eddedd;

        }

        .selected{
            pointer-events: none;
            background-color: pink !important;
            color: white;
        }

        .neverClickable{

            pointer-events: none !important;
            background-color: #C7B5B5 !important;

        }

        .containerColumn{

            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60%;
            align-items: center;
        }

        input{

            margin: 1%;
            width: 40px;
            height: 30px;

        }

        .ticketNum{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40%;

        }

        .seatBtn{

            margin: 0.5%;
            width: 100px;

        }

        #ticketNum1, #ticketNum2{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

