    .containerBox{

            display: flex;
            background-color: #feffdf;
            border: 1px solid black;
            margin: 2%;
            justify-content: space-between;
            width: 80%;

    }

    a:hover{
        background-color: #FFB6C1;

    }

    .content{
        padding: 40px

    }

    #content3{

        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .calendar{
        width: 300px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 20px;

    }

    .day{
        pointer-events: none;

    }


    .clickable{
        pointer-events: auto;
        background-color: gray !important;

    }

    .unclickable{

        pointer-events: none;
        background-color: #eddedd;

    }

    .selected{
         pointer-events: auto;
         background-color: pink !important;
         color : red;
         font : bold;
    }

    #month-year{

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #32AAFF;
        color: white;
    }

    .weekdays, .days{

        display: flex;
        flex-wrap: wrap;
        padding: 10px;

    }


    .weekdays div{

        width: 40px;
        text-align: center;


    }


    .days div{

        width: 40px;
        text-align: center;
    }


    #time-btn{

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
        background-color: #F0FFF0;
        color: white;
        width: 600px;

    }


    .days div:hover{

        background-color: #6482B9;
        color: white;
    }


    .region:hover, .cinema:hover, .movie:hover, .timeBtn:hover{

        background-color: #6482B9;
        color: white;

    }

    .gray{
        background-color: gray;
    }


    .containerColumn{

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        justify-content: center;
        align-items: center;
    }

    a{

        font-weight: bold;
        font-size: 20px;

    }

    .contentAll{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    hr{
        color: black;
        width: 1px;

    }


    .timeBtn{

        margin: 1%;


    }


    #reservationseat{

        background: #ccffec;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;


    }