<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.mini.common.model.mapper.AuthMapper">

	<resultMap id="memberResultMap" type="memberDTO">
		<result property="memberNo" column="member_no"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="userName" column="user_name"/>
		<result property="tel" column="tel"/>
		<result property="img" column="img"/>
		<result property="point" column="point"/>
		<result property="address" column="address"/>
		<result property="createDate" column="crate_date"/>
		<result property="modfiyDate" column="modfiy_date"/>
		<collection property="roles" ofType="roleDTO">
			<id property="roleNo" column="role_no"/>
			<result property="roleName" column="name"/>
			<result property="description" column="role_description"/>
		</collection>
	</resultMap>

	<insert id="insertMember" parameterType="memberDTO">
		INSERT INTO mem_member
		(
		email
		, password
		, user_name
		, tel
		<if test="address != null">
			, address
		</if>
		)
		VALUES
		(
		#{ email }
		, #{ password }
		, #{ userName}
		, #{ tel }
		<if test="address != null">
			, #{ address }
		</if>
		)
	</insert>

	<insert id="insertMemberAndRole" parameterType="memberAndRoleDTO">
		INSERT INTO mem_member_and_role
		(
		    member_no
		  , role_no
		)
		VALUES
		(
		   #{ memberNo }
		 , #{ roleNo }
		)
	</insert>
	
	<select id="selectMemberByEmail" parameterType="String" resultMap="memberResultMap">
		SELECT
			  m.*
			, r.name
		FROM
			mem_member m
		LEFT JOIN
			mem_member_and_role mar ON m.member_no = mar.member_no
		LEFT JOIN
			mem_role r ON mar.role_no = r.role_no
		WHERE
			email = #{ email }
	</select>
	
	<select id="login" parameterType="memberDTO">
		SELECT *
		FROM mem_member
		WHERE email = #{ email }
	</select>
</mapper>