<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.mini.common.model.mapper.PageMapper">

	<select id="selectCinemaCount" parameterType="map">
		SELECT
			COUNT(*)
		FROM
			mov_cinema c
		JOIN
			mov_region r ON c.region_no = r.region_no
		WHERE
		<choose>
			<when test="type == 'cinema'">
				c.cinema_name LIKE CONCAT('%', #{ keyword }, '%')
			</when>
			<when test="type == 'region'">
				r.region_name LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<otherwise>
				1 = 1
			</otherwise>
		</choose>
	</select>

	<select id="selectQuestionCount" parameterType="map">
		SELECT
			COUNT(*)
		FROM
			admin_question q
		JOIN
			mem_member m ON q.member_no = m.member_no
		JOIN
			admin_question_category c ON q.category = c.category_no
		WHERE
		<choose>
			<when test="type == 'category'">
				c.description LIKE CONCAT('%', #{ keyword }, '%')
			</when>
			<when test="type == 'email'">
				m.email LIKE CONCAT('%', #{keyword}, '%')
			</when>
			<otherwise>
				1 = 1
			</otherwise>
		</choose>
	</select>
</mapper>