<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.mini.member.model.mapper.MemberMapper">

	<resultMap id="memberResultMap" type="memberDTO">
		<result property="rowNum" column="row_num"/>
		<result property="memberNo" column="member_no"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="tempPassword" column="temp_pw"/>
		<result property="tempPasswordIsUse" column="is_use"/>
		<result property="tempExpDate" column="exp_date" jdbcType="TIMESTAMP"/>
		<result property="userName" column="user_name"/>
		<result property="tel" column="tel"/>
		<result property="img" column="img"/>
		<result property="point" column="point"/>
		<result property="address" column="address"/>
		<result property="createDate" column="crate_date" jdbcType="TIMESTAMP"/>
		<result property="modifyDate" column="modify_date" jdbcType="TIMESTAMP"/>
		<collection property="roles" ofType="roleDTO">
			<id property="roleNo" column="role_no"/>
			<result property="roleName" column="name"/>
			<result property="description" column="role_description"/>
		</collection>
	</resultMap>

	<select id="findMemberAll" parameterType="pageDTO" resultMap="memberResultMap">
		SELECT
			  ROW_NUMBER() OVER (ORDER BY member_no DESC) AS row_num
			, m.*
			, r.name
		FROM
			mem_member m
		LEFT JOIN
			mem_member_and_role mar ON m.member_no = mar.member_no
		LEFT JOIN
			mem_role r ON mar.role_no = r.role_no
		WHERE
		<choose>
			<when test="type == 'email'">
				m.email LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<when test="type == 'name'">
				m.user_name LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<when test="type == 'role'">
				r.name LIKE CONCAT('%', REPLACE(#{keyword}, ' ', '%'), '%')
			</when>
			<otherwise>
				1 = 1
			</otherwise>
		</choose>
		LIMIT #{start}, #{end}
	</select>
</mapper>