<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2 class="text-center mb-4">1:1 문의 내역</h2>
        <hr color="grey">
        <div id="d1">
            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                <tr>
                    <th scope="col">NO.</th>
                    <th scope="col">Category</th>
                    <th scope="col">Title</th>
                    <th scope="col">CREATE_DATE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="qna : ${qna}">
                    <th scope="row" th:text="${qna.qna_no}"></th>
                    <td th:switch="${qna.category}">
                        <span th:case="1">예매/매표</span>
                        <span th:case="2">할인 혜택</span>
                        <span th:case="3">영화관 이용</span>
                        <span th:case="4">홈페이지/모바일</span>
                        <span th:case="5">기타</span>
                    </td>
                    <td><a th:href="@{/qna/view(no=${qna.qna_no})}" th:text="${qna.title}"></a></td>
                    <td th:text="${#dates.format(qna.create_date, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
            <p th:if="${qna == null}" style="text-align: center;">문의 내역이 존재하지 않습니다.</p>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/qna/insert}'|">문의 하기</button>
        </div>
    </div>

</div>


<!--	<script th:src="@{/js/paging.js}"></script>-->

</body>
</html>