<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>문의글 조회</title>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h2 class="text-center mb-4" th:text="${qna.title}">게시글 제목</h2>
        <hr color="grey">
        <div id="d1">
            <div class="mb-3">
                <label class="form-label">게시글 번호:</label>
                <span th:text="${qna.qna_no}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">이메일:</label>
                <span th:text="${#authentication.principal.Username}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">작성일:</label>
                <span th:text="${#dates.format(qna.create_date, 'yyyy-MM-dd')}"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">내용:</label>
                <p th:text="${qna.content}"></p>
            </div>
            <div class="mb-3">
                <label class="form-label">이미지:</label>
                <div th:if="${qna.img != null}">
                    <img th:src="@{'/uploadFiles/' + ${qna.img}}" width="300" height="300" alt="문의글 이미지" class="img-fluid">
                </div>
                <div th:if="${qna.img == null}">
                    <p>이미지가 없습니다.</p>
                </div>
            </div>

            <div class="mt-4 text-right">
                <a href="/qna/list" class="btn btn-outline-primary">목록으로</a>
            </div>
        </div>
        <br>
        <hr>

    </div>

</div>

</body>


</html>