<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>문의글 조회</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

</head>
<body>
<div layout:fragment="content" >
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center mb-4" th:text="${qna.title}">게시글 제목</h2>
            </div>
            <hr color="grey">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="form-control">문의글 번호: [[${qna.qna_no}]]</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-control">작성일: [[${#dates.format(qna.create_date, 'yyyy-MM-dd')}]]</label>
                    </div>
                </div>
                <div class="mb-3 form-group">
                    <label class="form-control">이메일: [[${qna.memberEmail}]]</label>
                </div>
                <div class="mb-3 form-group">
                    <label class="form-control" style="height:auto; padding: 10px;">내용: <br> [[${qna.content}]] <br>
                        <div th:if="${qna.img != null}" >
                            <img th:src="@{'/img/qna/' + ${qna.img}}" width="250" height="250" alt="문의글 이미지" >
                        </div>
                    </label>
                </div>

                <div class="mt-4 text-right">
                    <th:block sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'Role_STAFF')">
                        <button type="button" th:onclick="|location.href='@{admin/question/answer}?no=${qna.qna_no}'|" class="btn btn-outline-primary me-2">답변하기</button>
                    </th:block>
                    <a href="/qna/list" class="btn btn-outline-primary">목록으로</a>
                </div>
            </div>
            <br>
            <hr>
        </div>


    </div>

</div>

</body>


</html>