<form id="memberForm" class="mt-4" th:object="${user}">
    <div class="form-group">
        <label for="email">이메일</label>
        <input type="email" class="form-control" id="email" th:field="*{email}" readonly>
    </div>

    <div class="form-group">
        <label for="password">비밀번호</label> <br>
        <button id="password" name="password">비밀번호 변경</button>
    </div>

    <div class="form-group">
        <label for="nickname">닉네임</label>
        <input type="text" class="form-control" id="nickname" th:field="*{userName}" value="타임리프" placeholder="변경할 닉네임을 입력해주세요" readonly>
    </div>

    <div class="form-group">
        <label for="address">주소</label>
        <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="변경할 주소를 검색해주세요" readonly>
    </div>

    <div class="form-group">
        <label for="phone">핸드폰 번호</label>
        <input type="tel" class="form-control" id="phone" th:field="*{tel}" placeholder="- 을 제외한 숫자로 입력해주세요." readonly pattern="[0-9]{11}" title="- 을 제외한 숫자로 입력해주세요.">
    </div> <br>
    <button type="button" class="btn btn-danger me-2" onclick="cancelReservation()">회원 탈퇴</button>
    <button type="button" class="btn btn-success btn-block" onclick="showUpdateMember()">회원 정보 변경</button>
</form>