<h3 class="mt-4">구매 목록</h3>
<p>예매 목록 내용</p>
<table class="table table-hover table-bordered" w-80>
    <thead class="table-dark">
    <tr>
        <th scope="col">No</th>
        <th scope="col">영화 제목</th>
        <th scope="col">영화관</th>
        <th scope="col">상영관</th>
        <th scope="col">좌석 번호</th>
        <th scope="col">결제 금액</th>
        <th scope="col">상영일자</th>
        <th scope="col">예매일자</th>
    </tr>
    </thead>
    <tbody>
    <!--        <tr th:each="coupon : ${coupons}">-->
    <!--          <th scope="row" th:text="${coupon.rowNum}"></th>-->
    <!--          <td th:text="${coupon.couponCode}"></a></td>-->
    <!--          <td th:text="${coupon.member.email}"></a></td>-->
    <!--          <td th:text="${coupon.description}"></td>-->
    <!--          <td th:text="${coupon.discount}"></td>-->
    <!--          <td th:text="${coupon.useDate}"></td>-->
    <!--          <td th:text="${coupon.createDate}"></td>-->
    <!--          <td th:text="${coupon.expDate}"></td>-->
    <!--          <td><a th:href="@{/admin/coupon/delete(code=${coupon.couponCode})}"><button type="button" class="btn btn-primary">삭제</button></a></td>-->
    </tr>
    </tbody>
</table>
<!--<p>구매 목록 내용</p>-->
<!--<table class="table table-hover table-bordered" w-80>-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--        <th scope="col">No</th>-->
<!--        <th scope="col">쿠폰 코드</th>-->
<!--        <th scope="col">회원 이메일</th>-->
<!--        <th scope="col">설명</th>-->
<!--        <th scope="col">사용 여부</th>-->
<!--        <th scope="col">사용일</th>-->
<!--        <th scope="col">발급일자</th>-->
<!--        <th scope="col">만료일자</th>-->
<!--        <th scope="col">삭제</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <!--        <tr th:each="coupon : ${coupons}">-->
    <!--          <th scope="row" th:text="${coupon.rowNum}"></th>-->
    <!--          <td th:text="${coupon.couponCode}"></a></td>-->
    <!--          <td th:text="${coupon.member.email}"></a></td>-->
    <!--          <td th:text="${coupon.description}"></td>-->
    <!--          <td th:text="${coupon.discount}"></td>-->
    <!--          <td th:text="${coupon.useDate}"></td>-->
    <!--          <td th:text="${coupon.createDate}"></td>-->
    <!--          <td th:text="${coupon.expDate}"></td>-->
    <!--          <td><a th:href="@{/admin/coupon/delete(code=${coupon.couponCode})}"><button type="button" class="btn btn-primary">삭제</button></a></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->