<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.mini.board.model.mapper.BoardMapper">

	<resultMap id="memberResultMap" type="memberDTO">
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="userName" column="USERNAME"/>
	</resultMap>

	<resultMap id="BoardResultMap" type="boardDTO">
		<id property="boardNo" column="BOARD_NO" />
		<result property="memNo" column="MEM_NO" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="img" column="IMG" />
		<result property="likehit" column="LIKEHIT" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<association property="writer" column="MEMBER_NO" javaType="memberDTO" resultMap="memberResultMap" />
	</resultMap>

	<select id="selectAll" parameterType="pageDTO" resultMap="BoardResultMap">
		SELECT
			  b.*
            , m.MEMBER_NO
            , m.USERNAME
		FROM BOARD b
		JOIN MEMBER m ON b.MEMBER_NO = m.MEMBER_NO
		<if test="page != null">
			ORDER BY b.BOARD_NO DESC
			LIMIT #{start}, #{end}
		</if>
	</select>

	<select id="selectBoard" parameterType="int" resultMap="BoardResultMap">
		SELECT
			  b.*
			, m.MEMBER_NO
			, m.USERNAME
		FROM BOARD b
		JOIN MEMBER m ON b.MEMBER_NO = m.MEMBER_NO
		WHERE b.BOARD_NO = #{no}
	</select>

	<insert id="insertBoard" parameterType="boardDTO">
		INSERT INTO BOARD
		(
			MEMBER_NO
			, TITLE
			, CONTENT
			, IMG
		<if test="type != null">
			, TYPE
		</if>
		)
		VALUES
		(
			#{ writer.memberNo }
			, #{ title }
			, #{ content }
			, #{ img }
		<if test="type != null">
			, TYPE
		</if>
		)
	</insert>


</mapper>