<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스는 풀클래스명을 써야한다 와 DTO 타입을 변경한 후 마이바티스 config 설정파일에 매퍼 부분은 지워주고, spring-context.xml에 매퍼 스캐닝을 추가해야 한다. -->
<mapper namespace="com.multi.mini.community.model.mapper.BoardMapper">

	<resultMap id="memberResultMap" type="memberDTO">
		<result property="memberNo" column="member_no"/>
		<result property="userName" column="user_name"/>
	</resultMap>

	<resultMap id="BoardResultMap" type="boardDTO">
		<id property="boardNo" column="board_no" />
		<result property="memNo" column="member_no" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="img" column="img" />
		<result property="likehit" column="likehit" />
		<result property="createDate" column="create_date" />
		<result property="modifyDate" column="modify_date" />
		<association property="writer" column="member_no" javaType="memberDTO" resultMap="memberResultMap" />
	</resultMap>

	<select id="selectAll" parameterType="pageDTO" resultMap="BoardResultMap">
		SELECT
			  b.*
            , m.member_no
            , m.user_name
		FROM comm_board b
		JOIN mem_member m ON b.member_no = m.member_no
		<if test="page != null">
			ORDER BY b.board_no DESC
			LIMIT #{start}, 10
		</if>
	</select>

	<select id="selectBoard" parameterType="int" resultMap="BoardResultMap">
		SELECT
			  b.*
			, m.member_no
			, m.user_name
		FROM comm_board b
		JOIN mem_member m ON b.member_no = m.member_no
		WHERE b.board_no = #{no}
	</select>

	<insert id="insertBoard" parameterType="boardDTO">
		INSERT INTO comm_board
		(
			member_no
			, title
			, content
			, img
		<if test="type != null">
			, TYPE
		</if>
		)
		VALUES
		(
			#{ writer.memberNo }
			, #{ title }
			, #{ content }
			, #{ img }
		<if test="type != null">
			, TYPE
		</if>
		)
	</insert>


</mapper>